<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1005916963401-80togpk2bglhd7b7abkei9kh66gqc8r9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1005916963401-80togpk2bglhd7b7abkei9kh66gqc8r9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1005916963401-n2re3jaihjd9v27cbimur1r4eq2g3m0s.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBoEZwCSBz0UBZ_d7wlTHgky6t7zlkan70</string>
	<key>GCM_SENDER_ID</key>
	<string>1005916963401</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.admconnect</string>
	<key>PROJECT_ID</key>
	<string>conecta-mais-ee2b4</string>
	<key>STORAGE_BUCKET</key>
	<string>conecta-mais-ee2b4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1005916963401:ios:1fe7566300325d3b577598</string>
</dict>
</plist>